<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{site.description}} ({{site.name}})</title>
    <link rel="stylesheet" href="/assets/css/{{site.css}}">
    <link rel="stylesheet" href="/assets/css/{{css}}">
</head>
<body id="{{idName}}">
        {{ content }}
</body>

</html>
